.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
    font-weight: bolder;
}
.navbar a:hover {
    background-color: darkslategrey;
}