<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link th:href="@{/css/character.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="filter-bar">
<form class="filter-form" th:action="@{/characters}">
    <input type="text" th:name="name" th:value="${name}"/>
    <div class="status-filter">
        <label class="status-label">Status:</label>
        <select class="select-status" th:name="status">
            <option th:value="${status}" th:text="${status.toUpperCase()}"></option>
            <option th:value="'all'">All</option>
            <option th:value="'alive'">Alive</option>
            <option th:value="'dead'">Dead</option>
            <option th:value="'unknown'">Unknown</option>
        </select>
    </div>
    <button type="submit">Search</button>
</form>
</div>
<div class="pages-bar">
    <div th:if="${currentPage == 0}">
        <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status}" class="previous-inactive">&#8249; Previous</a>
    </div>
    <div th:if="${currentPage > 0}">
        <a th:href="'/characters?page=' + ${currentPage - 1} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status}" class="previous-active">&#8249; Previous</a>
    </div>
    <div class="text" type="box" th:text="'Current page: ' + ${currentPage} + '/' + ${pages}"></div>
    <div th:if="${currentPage < pages}">
        <a th:href="'/characters?page=' + ${currentPage + 1} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status}" class="next-active">Next &#8250;</a>
    </div>
    <div th:if="${currentPage == pages}">
        <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name}  + '&status=' + ${status}" class="next-inactive">Next &#8250;</a>
    </div>
        <div th:if="${count == 10}">
            <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status} + '&count=' + ${count}" class="less-inactive">-</a>
        </div>
        <div th:if="${count > 10}">
            <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status} + '&count=' + ${count - 10}" class="less-active">-</a>
        </div>
        <div class="text" type="box" th:text="'Items: ' + ${count}"/>
        <div th:if="${count == 100}">
            <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status} + '&count=' + ${count}" class="more-inactive">+</a>
        </div>
        <div th:if="${count < 100}">
            <a th:href="'/characters?page=' + ${currentPage} + '&name=' + ${name == null ? '' : name} + '&status=' + ${status} + '&count=' + ${count + 10}" class="more-active">+</a>
        </div>
</div>

<div class="content">
    <div class="empty-space"></div>
<table class="characters-table">
    <tr>
        <th style="width: 250px"></th>
        <th style="width: 300px"></th>
        <th style="width: 300px"></th>
    </tr>
    <div class="character-container" th:each="character : ${characters}">
        <tr class="row">
        <td class="image-column">
            <div class="character-image">
                <img th:src="@{'data:image/jpeg;base64,'+ ${character.encodeImage()}}">
            </div>
        </td>
        <td class="character-content">
            <a class="character-name" th:text="${character.name}"/></p>
            <a class="character-properties"></a></p>
            <div class="character-status">
                <div th:switch="${character.status}">
                    <div th:case="'Alive'">
                        <div class="status-light-green"></div></div>
                    <div th:case="'Dead'">
                        <div class="status-light-red"></div></div>
                    <div th:case="'unknown'">
                        <div class="status-light-unknown"></div></div>
                </div>
                <a class="character-properties" th:text="${character.status}"/></p>
            </div>
            <a class="property-description">Spieces:</a></p>
            <a class="character-properties" th:text="${character.spieces} + ' - ' + ${character.gender}"/></p>
            <div class="character-type" th:if="${!character.type.isEmpty()}">
            <a class="property-description">Type:</a></p>
            <a class="character-properties" th:text="${character.type}"/></p>
            </div>
        </td>
        <td class="character-content-location">
            <a class="location-description">Originally from:</a></p>
            <a class="character-location" th:text="${character.origin}"/></p>
            <a class="location-description">Last known location:</a></p>
            <a class="character-location" th:text="${character.resident}"/></p>
        </td>
        </tr>
        <tr class="empty-row"></tr>
    </div>
</table>
</div>
</body>
</html>