<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Episodes</title>
    <link th:href="@{/css/episode.css}" type="text/css" rel="stylesheet">
</head>

<body>
<div th:insert="navbar.html"></div>
<div class="filter-bar">
    <form class="filter-form" th:action="@{/locations}">
        <input type="text" th:name="search" th:value="${search}"/>
        <button type="submit">Search</button>
    </form>
    <div class="page-bar">
        <div class="pages-bar">
            <div th:if="${currentPage == 0}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="previous-inactive">&#8249; Previous</a>
            </div>
            <div th:if="${currentPage > 0}">
                <a th:href="'/episodes?page=' + ${currentPage - 1} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="previous-active">&#8249; Previous</a>
            </div>
            <div class="text" type="box" th:text="'Current page: ' + ${currentPage} + '/' + ${pages}"></div>
            <div th:if="${currentPage < pages}">
                <a th:href="'/episodes?page=' + ${currentPage + 1} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="next-active">Next &#8250;</a>
            </div>
            <div th:if="${currentPage == pages}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search}  + '&count=' + ${count}" class="next-inactive">Next &#8250;</a>
            </div>
            <div th:if="${count == 10}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="less-inactive">-</a>
            </div>
            <div th:if="${count > 10}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count - 10}" class="less-active">-</a>
            </div>
            <div class="text" type="box" th:text="'Items: ' + ${count}"/>
            <div th:if="${count == 100}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="more-inactive">+</a>
            </div>
            <div th:if="${count < 100}">
                <a th:href="'/episodes?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count + 10}" class="more-active">+</a>
            </div>
        </div>
    </div>
    <div class="content">
        <table class="locations-table">
            <tr>
                <th>Episode</th>
                <th>Name</th>
                <th>Air Date</th>
                <th>Characters</th>
            </tr>
            <tr th:each="episode : ${episodes}">
                <td><a class="location property" th:text="${episode.episode}"></a></td>
                <td><a class="location property" th:text="${episode.name}"></a></td>
                <td><a class="location property" th:text="${episode.airDate}"></a></td>
                <td><a class="location property" th:text="${episode.charactersNumber}" th:href="'/characters/episode/' +${episode.id}"></a></td>
            </tr>
        </table>
    </div>
</body>
</html>
