<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link th:href="@{/css/location.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="filter-bar">
  <form class="filter-form" th:action="@{/locations}">
    <input type="text" th:name="search" th:value="${search}"/>
    <button type="submit">Search</button>
  </form>
  <div class="page-bar">
    <div class="pages-bar">
      <div th:if="${currentPage == 0}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="previous-inactive">&#8249; Previous</a>
      </div>
      <div th:if="${currentPage > 0}">
        <a th:href="'/locations?page=' + ${currentPage - 1} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="previous-active">&#8249; Previous</a>
      </div>
      <div class="text" type="box" th:text="'Current page: ' + ${currentPage} + '/' + ${pages}"></div>
      <div th:if="${currentPage < pages}">
        <a th:href="'/locations?page=' + ${currentPage + 1} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="next-active">Next &#8250;</a>
      </div>
      <div th:if="${currentPage == pages}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search}  + '&count=' + ${count}" class="next-inactive">Next &#8250;</a>
      </div>
      <div th:if="${count == 10}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="less-inactive">-</a>
      </div>
      <div th:if="${count > 10}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count - 10}" class="less-active">-</a>
      </div>
      <div class="text" type="box" th:text="'Items: ' + ${count}"/>
      <div th:if="${count == 100}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count}" class="more-inactive">+</a>
      </div>
      <div th:if="${count < 100}">
        <a th:href="'/locations?page=' + ${currentPage} + '&search=' + ${search == null ? '' : search} + '&count=' + ${count + 10}" class="more-active">+</a>
      </div>
    </div>
  </div>
  <div class="content">
    <table class="locations-table">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Dimension</th>
        <th>Residents</th>
        <th>Origins</th>
      </tr>
      <tr th:each="location : ${locations}">
        <td><a class="location property" th:text="${location.name}"></a></td>
        <td><a class="location property" th:text="${location.type}"></a></td>
        <td><a class="location property" th:text="${location.dimension}"></a></td>
        <td><a class="location property" th:text="${location.residents}" th:href="'characters/residence/' + ${location.id}"></a></td>
        <td><a class="location property" th:text="${location.origins}" th:href="'characters/origin/' + ${location.id}"></a></td>
      </tr>
    </table>
  </div>
</body>
</html>
